h1{

	font-size: 40px; 

}

h5{
	font-size: 20px;

}

#yes{
	text-decoration: underline; 
}

body{
	
	background: url(https://png.pngtree.com/thumb_back/fw800/back_pic/00/12/54/97563eb3ef8c715.jpg);
	background-size: cover;

}